.sectionHome{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divContainer{
    width: 50%;
}